body{
margin: 0;
background:url(../img/480x0o51j.jpg) repeat-x #EFEFEF;
font-family: Arial,Helvetica,sans-serif;
font-size: 16px;
color: #000;
line-height: 18px;
text-shadow: 1px 1px 1px #fff;
}
.wrap{
width:900px;
}
.logo{
float:left;
width:110px;
height:100px;
background:url(../img/alogo2.png) no-repeat;
}
.logo2{
float:left;
width:500px;
height:100px;
margin-left: 60px;
line-height: 100px;
font-family: Verdana;
font-size: 24px;
}
.rad1{
margin-top:100px;
margin-left:-500px;
width:180px;
float:left;
}
.rad2{
margin-top:100px;
width:190px;
margin-left:-100px;
float:left;
}
.rad3{
margin-top:50px;
margin-left:60px;
width:900px;
float:left;
}
.rzc{
margin-top:40px;
width:180px;
height:40px;
margin-left:420px;
float:left;
background:url(../img/1b.png);
}
.rzc:hover{
cursor: pointer;
background:url(../img/1bh.png);
}
.rad5{
margin-top:10px;
font-family: Arial,Helvetica,sans-serif;
font-size: 18px;
color: #000;
line-height: 20px;
width:600px;
margin-left:150px;
float:left;
text-shadow: 1px 1px 1px #fff;
}
.rad5_grey{
    color: #A4A4A4;
}
.rad5_small{
    font-size: 12px;
}
.vlt{
margin-left:30px;
float:left;
}
.suma{
font-family: Arial,Helvetica,sans-serif;
font-size: 25px;
border-radius:5px;
margin-bottom:5px;
width:250px;
color: #f00;
line-height: 18px;
}
.minsm{
margin-top:0px;
margin-left:5px;
width:880px;
float:left;
color:#f00;
}