<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Калькулятор дохода</title>
<link rel="stylesheet" type="text/css" href="css/style.css"  />
</head>
<body ng-app="app">
<div align="center" ng-controller="MainCtrl">
    <div class="wrap">
        <div class="logo"></div>
        <div class="logo2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Калькулятор дохода</div>
        <div class="rad1" ng-init="trp = 1">
            <h3>&nbsp;&nbsp;&nbsp;&nbsp;Тарифные планы</h3>
            <input type="radio" class="vlt" ng-value="1" ng-model="trp"> «СТАРТОВЫЙ»<Br>
            <input type="radio" class="vlt" ng-value="2" ng-model="trp"> «СТАНДАРТ» 17%<Br>
            <input type="radio" class="vlt" ng-value="3" ng-model="trp"> «ВАЛЮТНЫЙ» 10%<Br>
            <input type="radio" class="vlt" ng-value="4" ng-model="trp"> «РАЗВИТИЕ 1» 18%<Br>
            <input type="radio" class="vlt" ng-value="5" ng-model="trp"> «РАЗВИТИЕ 2» 19%<Br>
            <input type="radio" class="vlt" ng-value="6" ng-model="trp"> «РАЗВИТИЕ 3» 20%<Br>
        </div>
        <!--<div class="rad2">-->
            <!--<div ng-if="trp === 1">-->
                <!--<span>-->
                    <!--Сумма займа на 12 мес. 50 000 рублей<br>-->
                    <!--Выплата процентов<br>-->
                    <!--1-6 мес 17%<br>-->
                    <!--7-12 мес 10%<br>-->
                    <!--Итого: доходность 62%<br>-->
                <!--</span>-->
            <!--</div>-->
            <!--<div ng-if="trp === 2">-->
                <!--<ul>-->
                    <!--<li>Минимальная сумма займа на 12 мес. 100 000 рублей</li>-->
                    <!--<li>Ежемесячная выплата&nbsp; 10%</li>-->
                    <!--<li>Накопительная часть&nbsp; 7% в месяц</li>-->
                    <!--<li>Итого доходность: 204%</li>-->
                    <!--<li>Накопительная часть выплачивается&nbsp; в конце срока договора вместе с суммой займа.</li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div ng-if="trp === 3">-->
                <!--<ul>-->
                    <!--<li>Минимальная сумма займа на 12 мес.</li>-->
                    <!--<li>1100 EURO (USD)</li>-->
                    <!--<li>Ежемесячное начисление&nbsp; 10%</li>-->
                    <!--<li>Выплата процентов ежемесячная</li>-->
                    <!--<li>Итого доходность:&nbsp; 120%</li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div ng-if="trp === 4">-->
                <!--<ul>-->
                    <!--<li>Минимальная сумма займа на 12 мес. &nbsp;100 000 рублей</li>-->
                    <!--<li>ежемесячное начисление&nbsp; 13%</li>-->
                    <!--<li>накопительная часть &nbsp;5 % в месяц</li>-->
                    <!--<li>Выплата процентов ежеквартально</li>-->
                    <!--<li>По закрытию договора дополнительно&nbsp; 7 %</li>-->
                    <!--<li>Итого доходность:&nbsp; 223%</li>-->
                    <!--<li>Накопительная часть выплачивается&nbsp; в конце срока договора вместе с суммой займа.</li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div ng-if="trp === 5">-->
                <!--<ul>-->
                    <!--<li>Минимальная сумма займа на 12 мес. &nbsp;1000 000 рублей</li>-->
                    <!--<li>ежемесячное начисление&nbsp; 14%</li>-->
                    <!--<li>накопительная часть &nbsp;5 % в месяц</li>-->
                    <!--<li>Выплата процентов ежеквартально</li>-->
                    <!--<li>По закрытию договора дополнительно&nbsp; 7%</li>-->
                    <!--<li>Итого доходность:&nbsp; 235%</li>-->
                    <!--<li>Накопительная часть выплачивается&nbsp; в конце срока договора вместе с суммой займа.</li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div ng-if="trp === 6">-->
                <!--<ul>-->
                    <!--<li>Минимальная сумма займа на 12 мес. &nbsp;2000 000 рублей</li>-->
                    <!--<li>ежемесячное начисление 15%</li>-->
                    <!--<li>накопительная часть &nbsp;5 % в месяц</li>-->
                    <!--<li>Выплата процентов ежеквартально</li>-->
                    <!--<li>По закрытию договора дополнительно 7%</li>-->
                    <!--<li>Итого доходность:&nbsp; 247%</li>-->
                    <!--<li>Накопительная часть выплачивается&nbsp; в конце срока договора вместе с суммой займа.</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
        <div class="rad3">
            <h3>Введите сумму</h3>
            <input type="text" class="suma" ng-model="vzns">
        </div>
        <div class="rzc" ng-click="calc()"></div>
        <div class="rad5" ng-if="lines.length">
            <p><b>График выплат:</b></p>
            <span ng-class="{rad5_grey: item.rem === '(к зачислению)'}" ng-repeat="item in lines track by $index">
                {{ item.date | date : 'dd/MM/yyyy' }} - {{ item.sum }} {{ valutp }} {{ item.rem }}<br><hr>
            </span>
            <p class='itog'>
                Итого, доход по выбранному ТП составляет : <br>{{ itogd }} {{ valutp }}, что составляет {{ itogp }}% за {{ mesp }} месяцев
            </p>
            <span class="rad5_small" ng-if="trp12r">(+7% от тела инвест. займа - минимальная премия по итогам отработки программы.<br> <i>Может быть увеличена</i>)</span>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script>new Image().src = 'img/1bh.png';</script>
</html>
